$blue-color: teal;

body {
  width: 99%;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  div {
    width: 100%;
    text-align: center;
  }
}

img {
  width: 750px;
}

.holaMundo {
  background-color: $blue-color;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}